@font-face {
    font-family: "Red Hat Display Black";
    src: url("./assets/fonts/static/RedHatDisplay-Black.ttf") format("woff2");
}

@font-face {
    font-family: "Red Hat Display Medium";
    src: url("./assets/fonts/static/RedHatDisplay-Medium.ttf") format("woff2");
}

/* |||| ROOT |||| */

:root {
    /* COLORS */
    --cyan__300: rgb(143, 227, 249);
    --cyan__600: rgb(77, 150, 168);
    --purple__300: rgb(217, 184, 255);
    --purple__600: rgb(133, 95, 177);
    --slate__300: rgb(209, 209, 223);
    --slate__600: rgb(135, 135, 157);
    --slate__900: rgb(40, 40, 61);
    --white: rgb(250, 250, 250);

    /* FONT-SIZE */
    --font-size__xl: clamp(40px, 2vw, 64px);
    --font-size__lg: clamp(32px, 2.5vw, 40px);
    --font-size__md: clamp(16px, 2vw, 18px);
    --font-size__sm: clamp(12px, 2vw, 16px);
}

/* |||| RESET |||| */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture,
video {
    display: block;
    height: auto;
    max-width: 100%;
}

input,
button,
textarea,
select {
    background-color: none;
    border-color: transparent;
    color: inherit;
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol { 
    list-style-type: none;
}

/* |||| TEXT PRESET |||| */

/* FONT FAMILY */
.text-preset-1,
.text-preset-2,
.text-preset-3,
.text-preset-5 {
    font-family: "Red Hat Display Black", Arial, Helvetica, sans-serif;
}

.text-preset-4 {
    font-family: "Red Hat Display Medium", Arial, Helvetica, sans-serif;
}

/* FONT SIZE */
.text-preset-1 {
    font-size: var(--font-size__xl);
}

.text-preset-2 {
    font-size: var(--font-size__lg);
}

.text-preset-3 {
    font-size: var(--font-size__sm);
}

.text-preset-4 {
    font-size: var(--font-size__md);
}

.text-preset-5 {
    font-size: 16px;
}

/* LETTER SPACING */
.text-preset-3 {
    letter-spacing: 4px;
}

/* LINE HEIGHT */
.text-preset-1,
.text-preset-2,
.text-preset-3 {
    line-height: 110%;
}

.text-preset-5,
.text-preset-4 {
    line-height: 150%;
}

.text-preset-1,
.text-preset-2,
.text-preset-3,
.text-preset-5,
.text-preset-4,
button {
    z-index: 100;
}

/* |||| GENERAL |||| */

main {
    text-align: center;
}

article {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* BUTTONS */

button {
    border-radius: 29px;
    padding: 16px 40px;
}

.button__cyan {
    background-color: var(--cyan__600);
    color: var(--white);
}

.button__cyan-download-version {
    color: var(--cyan__300);
}

.button__purple {
    background-color: var(--purple__600);
    color: var(--white);
}

.button__purple-download-version {
    color: var(--purple__300);
}

.button__purple-download-version,
.button__cyan-download-version {
    margin-inline-start: 4px;
}

/* NUMBERED DIVIDER */

.numbered-divider {
    color: var(--slate__600);
    justify-self: center;
    max-width: 100%;
    z-index: 100;
}

.vertical-line {
    background-color: var(--slate__300);
    height: 80px;
    margin: 0 auto;
    width: 1px;
}

.numbered-divider h6 {
    border: 1px solid var(--slate__300);
    border-radius: 50%;
    padding: 16px 19px;
}

/* |||| HEADER - LOGO |||| */

header {
    display: flex;
    justify-content: center;
    margin-block-end: 64px;
    padding-top: 51px;
}

.logo {
    object-fit: contain;
}

/* |||| INTRO - SECTION |||| */

.intro {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.image-main {
    margin: 0 0 48px 0;
    object-fit: fill;
    min-width: 410px;
}

.intro article {
    gap: 24px;
    padding: 0 5px;
}

.intro h2 {
    color: var(--slate__900);
    max-width: 10ch;
}

.intro p {
    color: var(--slate__600);
    max-width: 29ch;
}

.intro__buttons-container .button__purple {
    margin: 16px 0 64px;
}

.image-secondary {
  position: absolute;
  left: -10000px;
  /* width: 1px; */
  /* height: 1px; */
  /* top: auto; */
  overflow: hidden;
}

/* |||| INFORMATION SECTION |||| */

.photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 64px 0;
    max-width: 311px;
}

.photo-container img {
    border-radius: 10px;
}

figcaption {
    color: var(--cyan__600);
    text-align: center;
    text-transform: uppercase;
}

.info h3 {
    margin: 16px 0 32px;
}

.info p {
    color: var(--slate__600);
    margin-block-end: 64px;
}

.info h3,
.info p {
    padding: 0 32px;
}

/* |||| FOOTER |||| */

footer {
    background-image: url("./assets/mobile/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-start: -10%;
    z-index: 5;
}

.cyan-picture-cover {
    background-color: var(--cyan__600);
    height: 800px;
    width: 800px;
    opacity: 0.8;
    z-index: 10;
}